# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/adsense_blog_db?schema=public"

# Auth Secret
JWT_SECRET="super-secret-jwt-key-change-this-in-production-min-32-chars"

# App Public URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Monetization Defaults
DEFAULT_PLATFORM_SHARE_PERCENTAGE="30"
DEFAULT_AUTHOR_SHARE_PERCENTAGE="70"

# Storage Configuration (local | s3 | cloudinary)
STORAGE_PROVIDER="local"
